---
import BlogCategoriesSection from "@/components/blog/BlogCategoriesSection";
import FeedPage from "@/components/blog/FeedPage";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { KitchensinkLayout } from "@/layouts/KitchensinkLayout";
import {
  createCustomCategory,
  loadBlogCategoriesServiceConfig,
  loadBlogFeedServiceConfig,
} from "@wix/blog/services";

import "./theme.css";
import { loadSEOTagsServiceConfig } from "@wix/seo/services";
import { SEO } from "@wix/seo/components";

export const prerender = false;

const [
  blogFeedServiceConfig,
  blogCategoriesServiceConfig,
  seoTagsServiceConfig,
] = await Promise.all([
  loadBlogFeedServiceConfig({
    pageSize: 10,
    showPinnedPostsFirst: true,
    sort: [
      {
        fieldName: "firstPublishedDate",
        order: "DESC",
      },
    ],
  }),
  loadBlogCategoriesServiceConfig(),
  loadSEOTagsServiceConfig({
    pageUrl: Astro.url.href,
    itemData: {
      pageName: "Blog",
      seoData: {
        tags: [
          {
            type: "meta",
            props: {
              name: "description",
              content:
                "Explore our blog featuring the latest insights on headless components, web development, and modern architecture.",
            },
          },
        ],
      },
    },
  }),
]);

const customCategoriesToPrepend = [
  createCustomCategory({
    label: "All posts",
    slug: "/blog/",
    description:
      "Discover the latest insights, tutorials, and best practices for building modern web applications with headless components.",
  }),
];
---

<BaseLayout>
  <SEO.Tags seoTagsServiceConfig={seoTagsServiceConfig} slot="seo-tags" />

  <KitchensinkLayout>
    <div class="bg-background min-h-screen">
      <div class="mx-auto max-w-6xl px-6 py-12">
        <BlogCategoriesSection
          pathname={Astro.url.pathname}
          categoryPageBaseUrl="/blog/category/"
          blogCategoriesServiceConfig={blogCategoriesServiceConfig}
          customCategoriesToPrepend={customCategoriesToPrepend}
        />
        <FeedPage
          client:load
          blogFeedServiceConfig={blogFeedServiceConfig}
          postPageBaseUrl="/blog/post/"
          dateLocale="en-US"
        />
      </div>
    </div>
  </KitchensinkLayout>
</BaseLayout>
